body{
    display: flex;
    margin: 0;
    padding: 70px;
    background-color: #444;
    justify-content: center;  
}
.fundo{
    position: relative;
    display: flex;
    height: 580px;
    width: 600px;
    border: solid 0px transparent;
    border-radius: 100px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top,#ff0,orange,red,#f0f,#05f);
}
.borda{
    position: relative;
    display: flex;
    height: 380px;
    width: 400px;
    border: solid 40px white;
    border-radius: 100px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}
.circulo{
    position: relative;
    display: flex;
    bottom: 15px;
    left: 2px;
    height: 180px;
    width: 180px;
    border: solid 40px white;
    border-radius: 200px;
}
.bolinha{
    position: relative;
    left: 140px;
    margin: 0;
    height: 5px;
    width: 5px;
    border: solid 20px white;
    border-radius: 40px;
    background-color: white;
}
