body{
    display: flex;
    margin: 0;
    padding: 200px;
    background-color: #444;
    justify-content: center;  
}
.fundo{
    position: relative;
    display: flex;
    height: 600px;
    width: 580px;
    border: solid 0px transparent;
    border-radius: 60px;
    flex-direction: column-reverse;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(#ff0, #f0f,#05f);
}
.borda{
    position: relative;
    display: flex;
    height: 470px;
    width: 450px;
    border: solid 30px white;
    border-radius: 60px;
    flex-direction: column-reverse;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    
}
.circulo{
    position: relative;
    display: flex;
    bottom: 10px;
    left: 2px;
    height: 200px;
    width: 200px;
    border: solid 30px white;
    border-radius: 200px;
}
.bolinha{
    position: relative;
    bottom: 60px;
    left: 170px;
    margin: 0;
    height: 5px;
    width: 5px;
    border: solid 20px white;
    border-radius: 30px;
    background-color: white;
}